@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
  color: #BBB;
  font-size: .9em;
  background-color: #222;
}

/* STRUCTURE */

#pagewrap {
	padding: 5px;
	width: 960px;
	margin: 10px auto;
}
header {
	height: 50px;
	padding: 0px 15px;
  padding-bottom: 10px;
  text-align: center;

}
#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}

#middle {
	width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}

#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}
footer {
	clear: both;
	padding: 0 15px;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 30px 4% 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	#sidebar {
		clear: both;
		padding: 1% 4%;
		width: auto;
		float: none;
	}

	header, footer {
		padding: 1% 4%;
	}
}

/* for 700px or less */
@media screen and (max-width: 600px) {

	#content {
		width: auto;
		float: none;
	}

	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}

	#sidebar {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 1em;
	}
	#sidebar {
		display: none;
	}

}


#content {
	//background: #f8f8f8;
}
#sidebar {
	//background: #f0efef;
}
header, #content, #middle, #sidebar {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, #sidebar, footer {
//	border: solid 1px #ccc;
}

button, .button{
  border-radius: 5px;
  padding: 2px;
  margin: 0px 2px;
  width:80px;
  height:50px;
  background-color: inherit;
  border-style: solid;
  border-width: 1px;
  border-color: #BBB;
  color:#BBB;
  font-size: 1em;
  float:left;
}

button:hover {
  background: #333;
  color: #AAA;
  outline: 0px;
}

button:focus {outline:0;}
button:disabled {
  background-color: #333;
  color: #AAA;
}

/*div.button div.coolDown {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  z-index: -1;
  background-color: #444;
  overflow:hidden;
}*/

fieldset{
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
  background-color: inherit;
  border-style: solid 1px;
  border-color: #BBB;
  color:#BBB;
  border-bottom: 0px;
  border-right: 0px;
}

legend {
  padding-left: 5px;
  margin-left: 20px
}

.middle-set {
  border-left: 0px;
  margin-top: 10px;
  padding-top: 20px;
}

.top-set {
  border-top: 0px;
  padding-top: 0px;
}

.message {
  padding: 3px 0px;
}

.hidden {
  visibility: hidden;
}


/*
CSS3 popup found here
https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
*/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
  color: #222;
	/*background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);*/
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
